name: flask-blog
services:
  web:
    build: 
      context: app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
    depends_on:
      - db
  db:
    build: 
      context: db
